html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  font-family: Roboto, sans serif;
  line-height: 1.3;
}

*,*::before, *::after {
  box-sizing:inherit;
}

body{
  margin: 0;
}

.banner{
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0;
  text-align: center;
  color: white;
  padding: 8em 0em;
}
