html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  font-family: Quicksand, sans serif;
  font-style: thin;
  line-height: 1.3;
}

*,*::before, *::after {
  box-sizing:inherit;
}

body{
  margin: 0;
}

figure{
  margin: 0;
  position: relative;
  padding: 0;
}

.banner{
  width: 100%;
  padding: 0;
  margin: 0;
}

h2{
  font-size: 130%;
  color: grey;
  text-align: center;
  padding-left: 0.2em;
  margin: 0;
}

h3{
  font-size: 125%;
  color: grey;
  text-align: center;
  padding-left: 0.2em;
  margin: 0;
}

.padding{
  padding-top: 0.4em;
}

nav{
width: 100%;
margin: 0;
}

p{
  margin: 1em;
}

img{
  width: 100%;
}

.caption{
  font-style: italic;
  margin: 0;
  padding-left: 1em;
}

.icons{
  width: 25%;
  float:left;
  padding: 1em;
}

.icons-2{
  width: 25%;
  float:left;
  padding: 1em;
}


.work{
  clear: both;
  width: 100%;
  padding-left: 1em;
  padding: right;

}

.bottom{
  padding: 1em;
  text-align: center;
  height: 30%;
}

.contact{
  padding: 1em;
  text-align: center;
}



@media only screen and (min-width: 28em) {

  html{
  font-size: 110%;
  line-height: 1.4;
}

.icons{
  padding: 2em;
}

.icons-2{
  padding: 2em;
}

.padding{
  padding: 1em;
}

}

@media only screen and (min-width: 50em) {

main{
  width: 75%;
  float: left;
}

header{
  width: 25%;
  float: left;
  padding-top: 2em;
}

.icons{
  width: 50%;
  z-index: auto;
  padding: 1em;

}

.icons-2{
  width: 50%;
  z-index: auto;
  padding: 1em;

}

}

@media print{

  main a::after {
    content: " (" attr(href) ")";
    color: #999;
  }

  .bottom{
    display:none;
  }

  .icons{
    display:none;
  }

  .icons-2{
    display: none;
  }

  .me{
    display: none;
  }

  .whoiam{
    display: none;
  }

  h3{
    display: none;
  }

  h2{
    padding-top: 1.2em;
  }

  .banner{
    display: none;
  }

  body{
    border: dashed black 1px;
    width: 3.5in;
    height: 2in;
  }
}
